/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Header/Header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__AF_3G {
  height: 72px;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 9999;
}

.Header_container__3JNoS {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 18px;
  margin: 0 auto;
  background: rgba(53, 53, 53, 0.6);
  height: 72px;
}

.Header_burger__45vLT {
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--grey500);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 16px 20px 16px;
  float: right;
  height: 80vh;
  gap: 32px;
}

.Header_close__exPYX {
  cursor: pointer;
}

.Header_main__WJHj0 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header_navigation__CQjNn {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.Header_nav-menu__F6HsZ {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Header_nav-lang__5Rt2t {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.Header_nav-menu__F6HsZ a,
.Header_nav-lang__5Rt2t a {
  font-family: var(--font-manrope);
  font-size: var(--body-lg-fs);
  font-style: normal;
  font-weight: var(--body-lg-fw);
  line-height: var(--body-lg-lh);
  color: var(--grey100);
}

.Header_nav-menu__F6HsZ a.Header_active__8Eipm,
.Header_nav-lang__5Rt2t a.Header_active__8Eipm {
  font-size: var(--body-lg-bold-fs);
  font-weight: var(--body-lg-bold-fw);
  line-height: var(--body-lg-bold-lh);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .Header_container__3JNoS {
    padding: 20px var(--padding-xxl);
  }
}

@media screen and (min-width: 1280px) {
  .Header_header__AF_3G {
    position: fixed;
    width: 100vw;
    top: 0;
    height: 72px;
    z-index: 5;
  }

  .Header_container__3JNoS {
    padding: 12px 120px;
    background: rgba(53, 53, 53, 0.6);
  }

  .Header_wrapper__Ys_tD {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header_navigation__CQjNn {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    align-items: center;
  }

  .Header_nav-menu__F6HsZ {
    flex-direction: row;
  }

  .Header_nav-lang__5Rt2t {
    flex-direction: row;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Button/Button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__exqP_ {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--shadowS);
  color: var(--grey900);
  font-family: var(--font-manrope);
  font-size: var(--body-medium-semibold-fs);
  font-style: normal;
  font-weight: var(--body-medium-semibold-fw);
  line-height: var(--body-medium-semibold-lh);
  cursor: pointer;
}

.Button_button__exqP_.Button_white__Rw5SK {
  background: var(--white);
}

.Button_button__exqP_.Button_yellow__mAIwb {
  gap: 4px;
  background: var(--yellow500);
}

.Button_button__exqP_:hover {
  border-radius: 14px;
}

.Button_button__exqP_:hover {
  border-radius: 14px;
}

.Button_button__exqP_:active {
  border-radius: 14px;
}

.Button_button__exqP_.Button_yellow__mAIwb:active {
  background: var(--yellow700);
}

.Button_button__exqP_.Button_white__Rw5SK:active {
  background: var(--grey100);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/HowToHelp/Accordion/Accordion.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Accordion_accordion-wrapper__WnjZt {
  max-width: 424px;
  width: 100%;
  background-color: var(--gray-light);
  border-radius: 8px;
}

.Accordion_accordion-section__vP717 {
  padding: 16px;
  border-bottom: 1px solid var(--grey700);
}

.Accordion_accordion-subtitle__joFpf {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-lg-fs);
  font-weight: var(--body-lg-fw);
  line-height: var(--body-lg-lh);
  color: var(--grey900);
}

.Accordion_accordion-section__vP717:last-child {
  border-bottom: none;
}

.Accordion_accordion-header__ILnY6 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.Accordion_accordion-img__8VlxU {
  width: auto;
  height: 24px;
}

.Accordion_bitcoin-img__k0vs0 {
  width: auto;
  height: 20px;
}

.Accordion_accordion-arrow__transform__fFh9u {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.Accordion_accordion-arrow__back__3fgSL {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.Accordion_accordion-description__fkQgp {
  padding-top: 16px;
  max-width: 343px;
  width: 100%;
}

.Accordion_privatbank__accordion-description__JbkYW {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.Accordion_privatbank-button__6Be9O {
  align-self: stretch;
}

.Accordion_privatbank-text___mXLM {
  text-align: center;
}

.Accordion_accordion-description__button__JZ4ZG {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.Accordion_button-subscribe__Hm88Z {
  display: block;
  width: 93px;
  font-family: var(--font-manrope), sans-serif;
  font-size: 14px;
  font-weight: var(--body-medium-semibold-fw);
  line-height: var(--body-medium-semibold-lh);
}

.Accordion_button-online__HM4__ {
  align-self: stretch;
  width: 100%;
}

.Accordion_accordion-paragraph__N4inS:nth-child(odd),
.Accordion_accordion-paragraph__paypal__k3DOo:nth-child(even),
.Accordion_privatbank-text___mXLM,
.Accordion_bank-transfer__text__LH_Mg:nth-child(odd),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(even),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(3) {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-small-fs);
  font-weight: var(--body-small-fw);
  line-height: var(--body-small-lh);
  color: var(--grey700);
}

.Accordion_bank-transfer__text__LH_Mg:nth-child(even),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(odd),
.Accordion_bank-transfer__text-ua__67cqf:first-child,
.Accordion_bank-transfer__text-ua__67cqf:nth-child(2),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(4),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(5) {
  margin-bottom: 12px;
}

.Accordion_accordion-paragraph__N4inS:nth-child(even),
.Accordion_paypal__accordion-paragraph__p_2NQ:nth-child(odd),
.Accordion_bank-transfer__text__LH_Mg:nth-child(even),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(odd),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(2),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(4),
.Accordion_bank-transfer__text-ua__67cqf:nth-child(5) {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-medium-mb-fs);
  font-weight: var(--body-medium-mb-fw);
  line-height: var(--body-medium-mb-lh);
  color: var(--grey900);
}

.Accordion_bank-transfer__text-ua__67cqf:nth-child(3) {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-small-fs);
  font-weight: var(--body-small-fw);
  line-height: var(--body-small-lh);
  color: var(--grey700);
  margin-bottom: 0;
}

.Accordion_bank-transfer__text-ua__67cqf:nth-child(11) {
  margin-bottom: 0;
}

.Accordion_bank-transfer__wrapper__ntTai {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Accordion_bank-transfer__button__y7XvH {
  padding: 4px 8px;
  background: var(--gray-light);
  display: flex;
  align-self: flex-start;
  gap: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.Accordion_bank-transfer__button__y7XvH .Accordion_button-transparent__um9A2 {
  background: none;
  border: none;
  box-shadow: none;
}

@media screen and (min-width: 1280px) {
  .Accordion_accordion-paragraph__N4inS:nth-child(odd),
  .Accordion_accordion-paragraph__paypal__k3DOo:nth-child(even),
  .Accordion_privatbank-text___mXLM,
  .Accordion_bank-transfer__text__LH_Mg:nth-child(odd),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(even),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(3) {
    font-family: var(--font-manrope), sans-serif;
    font-size: var(--body-medium-mb-fs);
    font-weight: var(--body-medium-mb-fw);
    line-height: var(--body-medium-mb-lh);
  }

  .Accordion_accordion-paragraph__N4inS:nth-child(even),
  .Accordion_paypal__accordion-paragraph__p_2NQ:nth-child(odd),
  .Accordion_bank-transfer__text__LH_Mg:nth-child(even),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(odd),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(2),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(4),
  .Accordion_bank-transfer__text-ua__67cqf:nth-child(5) {
    font-family: var(--font-manrope), sans-serif;
    font-size: var(--body-medium-web-fs);
    font-weight: var(--body-medium-web-fw);
    line-height: var(--body-medium-web-lh);
  }

  .Accordion_accordion-description__button__JZ4ZG {
    flex-direction: row;
    justify-content: space-between;
  }

  .Accordion_button-subscribe__Hm88Z {
    width: 120px;
  }
}

@media screen and (min-width: 2000px) {
  .Accordion_accordion-wrapper__WnjZt {
    max-width: 580px;
  }

  .Accordion_accordion-description__button__JZ4ZG {
    flex-direction: row;
    justify-content: flex-start;
  }

  .Accordion_button-subscribe__Hm88Z {
    width: 120px;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/NeedHelp/NeedHelp.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.NeedHelp_wrapper__IvFd8 {
  background-image: linear-gradient(0deg, rgba(38, 38, 38, 0.6), #262626),
    url("/images/pictures/war_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.NeedHelp_help__qJmZL {
  display: flex;
  flex-direction: column;

  color: var(--white);
  gap: 24px;
}

.NeedHelp_help__qJmZL img {
  cursor: pointer;
}

.NeedHelp_main__jbeC0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}

.NeedHelp_title__BvEij h2 {
  font-family: var(--font-mulish);
  font-size: var(--subtitle-bold-fs);
  font-style: normal;
  font-weight: var(--subtitle-bold-fw);
  line-height: var(--subtitle-bold-lh);
}

.NeedHelp_title__BvEij p {
  font-family: var(--font-manrope);
  font-size: var(--body-lg-fs);
  font-style: normal;
  font-weight: var(--body-lg-fw);
  line-height: var(--body-lg-lh);
}

.NeedHelp_info__1QWJy {
  text-align: justify;
  display: grid;
  grid-row-gap: 12px;
  row-gap: 12px;
}
.NeedHelp_text__SQt4G {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.NeedHelp_info__1QWJy p {
  font-family: var(--font-manrope);
  font-size: var(--body-medium-mb-fs);
  font-style: normal;
  font-weight: var(--body-medium-mb-fw);
  line-height: var(--body-medium-mb-lh);
}

.NeedHelp_ellipses__ty8KI {
  display: flex;
  position: relative;
  height: 118px;
}

.NeedHelp_ellipses__ty8KI div {
  flex: 1 1;
  color: lightgray;
}

.NeedHelp_ellipses_1__yAGQz,
.NeedHelp_ellipses_2__ieofg,
.NeedHelp_ellipses_3__yyVgB,
.NeedHelp_ellipses_4__nfXe8,
.NeedHelp_ellipses_5__rpzsH {
  border: 4px solid var(--yellow500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 100%;
  position: absolute;
}

.NeedHelp_ellipses_1__yAGQz {
  background-image: url("/images/pictures/wall.jpg");
  bottom: 4px;
  left: 0;
}

.NeedHelp_ellipses_2__ieofg {
  background-image: url("/images/pictures/crash_plain.jpg");
  top: 7px;
  left: 9%;
}

.NeedHelp_ellipses_3__yyVgB {
  width: 118px;
  height: 118px;
  background-image: url("/images/pictures/fighters.jpg");
  left: 50%;
  transform: translateX(-50%);
}

.NeedHelp_ellipses_4__nfXe8 {
  background-image: url("/images/pictures/window.jpg");
  bottom: 0;
  left: 68%;
}

.NeedHelp_ellipses_5__rpzsH {
  background-image: url("/images/pictures/wall_distroyed.jpg");
  top: 12%;
  right: 0;
}

.NeedHelp_ellipses_1__yAGQz,
.NeedHelp_ellipses_5__rpzsH {
  width: 48px;
  height: 48px;
}

.NeedHelp_ellipses_2__ieofg,
.NeedHelp_ellipses_4__nfXe8 {
  width: 72px;
  height: 72px;
}

.NeedHelp_support__nSTQi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NeedHelp_support__nSTQi button {
  width: 126px;
  height: 44px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .NeedHelp_ellipses_1__yAGQz {
    bottom: 4px;
    left: 0;
  }

  .NeedHelp_ellipses_2__ieofg {
    top: 10px;
    left: 18%;
  }

  .NeedHelp_ellipses_3__yyVgB {
    width: 128px;
    height: 128px;
    left: 50%;
    transform: translateX(-50%);
  }

  .NeedHelp_ellipses_4__nfXe8 {
    bottom: 0;
    left: 70%;
  }

  .NeedHelp_ellipses_5__rpzsH {
    top: 8%;
    right: 0;
  }

  .NeedHelp_ellipses_1__yAGQz,
  .NeedHelp_ellipses_5__rpzsH {
    width: 56px;
    height: 56px;
  }

  .NeedHelp_ellipses_2__ieofg,
  .NeedHelp_ellipses_4__nfXe8 {
    width: 92px;
    height: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .NeedHelp_help__qJmZL.NeedHelp_opened__YaaLW {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .NeedHelp_title__BvEij h2 {
    font-size: var(--title3-fs);
    font-weight: var(--title3-fw);
    line-height: var(--title3-lh);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .NeedHelp_title__BvEij p {
    font-family: var(--font-mulish);
    font-size: var(--subtitle-bold-fs);
    font-weight: var(--subtitle-bold-fw);
    line-height: var(--subtitle-bold-lh);
    text-transform: uppercase;
  }

  .NeedHelp_help__qJmZL.NeedHelp_opened__YaaLW .NeedHelp_title__BvEij {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 288px;
  }

  .NeedHelp_info__1QWJy {
    position: relative;
    grid-template-columns: 416px 416px;
    column-gap: 40px;
    row-gap: 16px;
    align-items: start;
    grid-template-areas:
      "one four"
      "two five"
      ". six"
      "three three";
  }

  .NeedHelp_info__1QWJy p {
    font-family: var(--font-manrope);
    font-size: var(--body-medium-web-fs);
    font-style: normal;
    font-weight: var(--body-medium-web-fw);
    line-height: var(--body-medium-web-lh);
  }

  .NeedHelp_ellipses__ty8KI {
    grid-area: three;
  }
  .NeedHelp_text__SQt4G {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .NeedHelp_support-btn__QiiEH {
    width: 126px;
    align-self: flex-end;
  }

  .NeedHelp_toggle__DIYM3 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .NeedHelp_ellipses__ty8KI {
    height: 250px;
  }
  .NeedHelp_ellipses_1__yAGQz {
    bottom: 17px;
    left: -80px;
  }

  .NeedHelp_ellipses_2__ieofg {
    top: 12px;
    left: 10%;
  }
  .NeedHelp_ellipses_3__yyVgB {
    width: 250px;
    height: 250px;
  }

  .NeedHelp_ellipses_4__nfXe8 {
    right: 167px;
    bottom: 8px;
  }

  .NeedHelp_ellipses_5__rpzsH {
    right: 0;
    top: 44px;
  }

  .NeedHelp_ellipses_1__yAGQz,
  .NeedHelp_ellipses_5__rpzsH {
    width: 84px;
    height: 84px;
  }

  .NeedHelp_ellipses_2__ieofg,
  .NeedHelp_ellipses_4__nfXe8 {
    width: 158px;
    height: 154px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Footer/Footer.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__4vzqH {
  background: var(--grey900);
}

.Footer_wrapper__rpDYh {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: var(--white);
  box-sizing: border-box;
  padding: var(--padding-lg) var(--padding-sm);
  margin: 0 auto;
}

.Footer_captions__vHtOu {
  color: var(--grey300);
  font-family: var(--font-manrope);
  font-size: var(--captions-fs);
  font-style: normal;
  font-weight: var(--captions-fw);
  line-height: var(--captions-lh);
  letter-spacing: var(--captions-ls);
}

.Footer_logo__C9vo8 {
  position: relative;
  width: 137px;
  height: 76px;
}

.Footer_map__Qn6Zf {
  position: relative;
  min-width: 343px;
  height: 239px;
}

.Footer_contactWrapper__n_6lj,
.Footer_getTouch__34P_6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Footer_contacts__9IsDj {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--white);
}

.Footer_text__NYzmO {
  font-family: var(--font-manrope);
  font-size: var(--body-medium-web-fs);
  font-style: normal;
  font-weight: var(--body-medium-web-fw);
  line-height: var(--body-medium-web-lh);
}

.Footer_phones__Z_v1c {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Footer_socialBlock__aX6pg {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Footer_social__RYYyg {
  display: flex;
  gap: 24px;
}

.Footer_rules__q5JUm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 343px;
}

.Footer_rules__q5JUm span,
.Footer_rights__kceZB {
  color: var(--grey300);
  font-family: var(--font-manrope);
  font-size: var(--body-small-fs);
  font-style: normal;
  font-weight: var(--body-small-fw);
  line-height: var(--body-small-lh);
  position: relative;
}

.Footer_usage__OMxHR {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Footer_usage__OMxHR span:nth-child(1) {
  position: relative;
}

.Footer_usage__OMxHR span:nth-child(1)::after,
.Footer_rules__q5JUm a span::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><circle cx="2.5" cy="2.5" r="2" fill="%23D9D9D9"/></svg>');
  position: absolute;
  right: -6px;
  top: -1px;
}

@media (min-width: 768px) {
  .Footer_wrapper__rpDYh {
    padding: var(--padding-xl) var(--padding-xxl);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Footer_logo__C9vo8 {
    order: 2;
    width: 80px;
    height: 44px;
    float: left;
  }

  .Footer_text__NYzmO {
    font-family: var(--font-manrope);
    font-size: var(--body-medium-mb-fs);
    font-weight: var(--body-medium-mb-fw);
    line-height: var(--body-medium-mb-lh);
  }

  .Footer_contactWrapper__n_6lj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 29%;
    order: 1;
    width: 100%;
  }

  .Footer_rules__q5JUm {
    align-self: center;
    align-items: center;
    order: 3;
    width: 65%;
  }

  .Footer_map__Qn6Zf {
    width: 285px;
    height: 200px;
    min-width: 285px;
  }
}

@media (min-width: 1280px) {
  .Footer_wrapper__rpDYh {
    display: grid;
    grid-template-areas:
      "logo contactWrapper"
      "rules contactWrapper";
    width: 888px;
    padding: 96px var(--padding-xxl);
    box-sizing: unset;
    grid-gap: normal;
    gap: normal;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .Footer_logo__C9vo8 {
    grid-area: logo;
    width: 144px;
    height: 80px;
    align-self: flex-start;
  }

  .Footer_contactWrapper__n_6lj {
    grid-area: contactWrapper;
    gap: 50px;
    justify-content: space-between;
  }

  .Footer_rules__q5JUm {
    grid-area: rules;
    flex-direction: column;
    align-items: flex-start;
    width: 175px;
    align-self: flex-end;
  }

  .Footer_map__Qn6Zf {
    width: 345px;
    height: 242px;
  }

  .Footer_getTouch__34P_6 {
    width: 244px;
    gap: 32px;
  }

  .Footer_rules__q5JUm span:nth-child(1)::after {
    content: "";
    position: absolute;
    right: -6px;
    top: -1px;
  }

  .Footer_usage__OMxHR {
    justify-content: flex-start;
  }

  .Footer_rights__kceZB {
    width: 211px;
    display: inline-block;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/Container/Container.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* mobile */
.Container_container__gCi3f {
  width: 100%;
  box-sizing: border-box;
  padding: var(--padding-lg) var(--padding-sm);
  margin: 0 auto;
}

/* iPads */
@media screen and (min-width: 481px) {
  .Container_container__gCi3f {
    padding: var(--padding-xl) var(--padding-md);
  }
}

/* Small tablets (in portrait mode) and small laptops */
@media screen and (min-width: 834px) {
  .Container_container__gCi3f {
    padding: var(--padding-xl) var(--padding-xxl);
  }
}

/* Tablets in landscape mode, and medium laptops */
@media screen and (min-width: 1025px) {
  .Container_container__gCi3f {
    padding: var(--padding-xxl) var(--padding-xxxl);
  }
}

/* Large laptops and standard desktop screens */
@media screen and (min-width: 1401px) {
  .Container_container__gCi3f {
    padding: 96px var(--padding-xxl);
    /* 1328px, calculation for content width 1200px + paddings */
    max-width: calc(1200px + (var(--padding-xxl) * 2));
  }
  .Container_container__gCi3f:has(.Container_info-section__d1FX9) {
    max-width: 888px;
  }
}

/* Extra large desktop monitors, TVs, and ultra-wide screens */
@media screen and (min-width: 2001px) {
  .Container_container__gCi3f {
    padding: 96px var(--padding-xxxl);
  }
  .Container_container__gCi3f:has(.Container_info-section__d1FX9) {
    max-width: 1200px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/HowToHelp/HowToHelp.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.HowToHelp_extraWidth__nALey {
  max-width: 888px;
  margin: 0 auto;
}

.HowToHelp_howToHelp__dy9jD {
  background-color: var(--yellow500);
}

.HowToHelp_howToHelp-wrapper__dF_HT {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HowToHelp_title__ZFjr2 {
  font-family: var(--font-mulish), sans-serif;
  font-size: var(--subtitle-bold-fs);
  font-weight: var(--subtitle-bold-fw);
  line-height: var(--subtitle-bold-lh);
  margin-bottom: 16px;
}

.HowToHelp_paragraph__hJa9r {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-medium-web-fs);
  font-weight: var(--body-medium-web-fw);
  line-height: var(--body-medium-web-lh);
  margin-bottom: 16px;
  max-width: 434px;
  width: 100%;
  /* text-align: justify; */
}

@media screen and (min-width: 600px) {
  .HowToHelp_howToHelp-wrapper__dF_HT {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
  }

  .HowToHelp_paragraph__hJa9r {
    max-width: 424px;
  }
}

@media screen and (min-width: 768px) {
  .HowToHelp_howToHelp-wrapper__dF_HT {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
  }

  .HowToHelp_title__ZFjr2 {
    font-family: var(--font-mulish), sans-serif;
    font-size: var(--title1-fs);
    font-weight: var(--title1-fw);
    line-height: var(--title1-lh);
    margin-bottom: 32px;
  }

  .HowToHelp_paragraph__hJa9r {
    font-family: var(--font-mulish), sans-serif;
    font-size: var(--subtitle-medium-fs);
    font-weight: var(--subtitle-medium-fw);
    line-height: var(--subtitle-medium-lh);
    max-width: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .HowToHelp_howToHelp-wrapper__dF_HT {
    flex-direction: row;
    justify-content: space-between;
  }

  .HowToHelp_title__ZFjr2 {
    font-family: var(--font-mulish), sans-serif;
    font-size: var(--title1-fs);
    font-weight: var(--title1-fw);
    line-height: var(--title1-lh);
    margin-bottom: 32px;
  }

  .HowToHelp_paragraph__hJa9r {
    font-family: var(--font-mulish), sans-serif;
    font-size: var(--subtitle-medium-fs);
    font-weight: var(--subtitle-medium-fw);
    line-height: var(--subtitle-medium-lh);
    max-width: 424px;
  }
}

@media screen and (min-width: 2000px) {
  .HowToHelp_paragraph__hJa9r {
    max-width: 580px;
  }

  .HowToHelp_extraWidth__nALey {
    max-width: 1200px;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/HeroSection/HeroSection.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.HeroSection_heroSection__OxcIj {
  background-image: url("/images/hero_banner_small.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 240px);
  margin-top: 240px;
}

.HeroSection_styledContainer__98oL_ {
  display: flex;
  justify-content: center;
  align-self: self-start;
  position: relative;
  top: -168px;
}

.HeroSection_infoContainer__TX8Z_ {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 437px;
}

.HeroSection_heroTitle__Ujbar {
  font-size: var(--title1-fs);
  font-weight: var(--title1-fw);
  line-height: 40px;
  margin-bottom: 8px;
}

.HeroSection_heroSubtitle__R_zbA {
  font-size: var(--body-medium-web-fs);
  color: var(--grey700);
  line-height: var(--body-medium-web-lh);
  font-weight: var(--body-medium-web-fw);
  margin-bottom: 16px;
}

.HeroSection_heroSection__OxcIj .HeroSection_supportButton__YdsSl {
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 182px;
}

/* iPads, Tablets, Laptops, Desktops */
/* @media screen and (min-width: 481px) {
  .heroSection {
    background-image: url("/images/hero_banner_medium.png");
    margin-top: 0px;
    min-height: 100vh;
  }

  .heroSection .styledContainer {
    padding-top: 90px;
    top: 0;
  }

  .heroSection .infoContainer {
    margin-top: 72px;
  }
} */

/* Tablet */
@media screen and (min-width: 481px) {
  .HeroSection_heroSection__OxcIj {
    background-image: url("/images/hero_banner_tablet.png");
    min-height: calc(100vh - 365px);
    margin-top: 365px;
  }

  .HeroSection_heroSection__OxcIj .HeroSection_styledContainer__98oL_ {
    top: -253px;
    align-items: center;
    justify-content: center;
  }
}

/* Small tablets (in portrait mode) and small laptops */
@media screen and (min-width: 1025px) {
  .HeroSection_heroSection__OxcIj {
    background-image: url("/images/hero_banner_medium.png");
    margin: 0;
    min-height: 100vh;
  }

  .HeroSection_heroSection__OxcIj .HeroSection_styledContainer__98oL_ {
    justify-content: flex-end;
    padding-top: 120px;
    align-items: flex-end;
    top: 72px;
  }

  .HeroSection_heroSection__OxcIj .HeroSection_infoContainer__TX8Z_ {
    text-align: left;
    align-items: flex-start;
  }

  .HeroSection_heroTitle__Ujbar {
    font-size: var(--title4-fs);
    font-weight: var(--title4-fw);
    line-height: var(--title4-lh);
  }

  .HeroSection_heroSubtitle__R_zbA {
    font-size: var(--subtitle-medium-fs);
    line-height: var(--subtitle-medium-lh);
    font-weight: var(--subtitle-medium-fw);
    margin-bottom: 24px;
  }
}

/* adjusting visibility of the text on hero section for one edge case from 1025px to 1165px */
@media screen and (min-width: 1025px) and (max-width: 1165px) {
  .HeroSection_heroSection__OxcIj .HeroSection_infoContainer__TX8Z_ {
    padding-left: 105px;
  }
}

/* Extra large desktop monitors, TVs, and ultra-wide screens */
@media screen and (min-width: 2001px) {
  .HeroSection_heroSection__OxcIj {
    background-image: url("/images/hero_banner_large.png");
    max-width: 1400px;
    margin: 0 auto;
  }
}

